*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.wrapper{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}
.header{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}
.logo__link{
    position: absolute;
    display: block;
    width: 80px;
    height: 95px;
    background-color: #020E35;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
.logo__link::after{
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    background-color: #8C32F0;
    position: relative;
    top: 95px;
}
.menu__toggle{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin: 20px 0;
    display: none;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item{ 
    list-style: none;
}
.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #000000;

    margin-right: 45px;
    position: relative;
}
.menu__link:hover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #8C32F0;
}
.btn{
    display: block;
    width: 140px;
    height: 40px;
    border: none;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
      
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    color: #FFFFFF;

    cursor:pointer;
}
.menu__btn{
    width: 100px;
    margin: 20px 0;
    font-style: italic;
    font-weight: 300;
}
.btn:hover{
    background: #8C32F0;
    transform: scale(1.02);
}
.promo{
    background-image: url(../img/promo-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 8%;
    padding-bottom: 2%;
}
.promo__title{
    width: 60%;
    font-size: 97px;
    line-height: 118px; 
    color: #020E35;
}
.promo__btn{
    margin-top: 20px;
}
.about{
    background-image: url(../img/about-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
    padding: 5% 0;
    margin-top: 3%;
}

.section__head{
    font-size: 40px;
    line-height: 49px;
    color: #020E35;
    position: relative;
}
.section__head::before{
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #E73587;
    position: absolute;
    bottom: -1px;
    left: calc(50% - 50px);
}
.about__description{
    margin: 0 auto;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
    color: #2B2B2B;
    width: 80%;
}
.services{
    text-align: center;
    position: relative;
}
.services__title{
    margin-bottom: 40px;
}
.services__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__card{
    width: calc(32% - 40px);
    text-align: center;
    padding: 25px 20px;
    color: #2B2B2B;
    transition: 0.3s linear;
}
.services__card:hover{
    transform: scale(1.07);
}
.services__card1{
    background-color: #FDF8E3;
}
.services__card2{
    background-color: #F0F3FA;
}
.services__card3{
    background-color: #FEEFF0;
}
.services-card__img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: auto;
    max-width: 320px;
    height: 250px;
    margin: 0 auto; 
}
.services-card__img--app{
    background-image: url(../img/app-development.png);
}
.services-card__img--web{
    background-image: url(../img/web-development.png);
}
.services-card__img--design{
    background-image: url(../img/design.png);
}
.services-card__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}
.services-card__text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.services-card__btn{
    margin: 0 auto;
}
.services-arr{
    display: none;
    width: 76px;
    height: 76px;
    background-color:#E73587;
    background-image: url(../img/arr.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    top: calc(60% - 40px);
    transition: 0.4s linear;
}
.slider__arr--prev{
    position: absolute;
    left: 8%;
    transform: rotate(180deg);
}
.services-arr__right-arr:hover{
    transform: scale(0.9);
    background-color:#8C32F0;
}

.services__bottom-half{
    width: 100%;
    height: 310px;
    background-color: #020E35;
    position: absolute;
    top: 60%;
    z-index: -1;
}
.partfolio{
    background-color: #020E35;
    text-align: center;
    color: #ffffff;
    padding-top: 7%;
    padding-bottom: 4%;
}
.partfolio__title{
    color: #ffffff;
}
.partfolio-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;
    text-align: left;
}
.partfolio-item--reverse{
    flex-direction: row-reverse;
    text-align: right;
}
.partfolio-item__photo{
    width: 550px;
    height: 370px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.partfolio-item__photo--photo1{
    background-color: #F09532;
    background-image: url(../img/portfolio1.png);
}
.partfolio-item__photo--photo2{
    background-color: #8C32F0;
    background-image: url(../img/portfolio2.png);
}
.partfolio-item__photo--photo3{
    background-color: #E73587;
    background-image: url(../img/portfolio3.png);
}
.partfolio-item__photo--photo4{
    background-color: #32D6F0;
    background-image: url(../img/portfolio4.png);
}
.partfolio-item__description{
    width: 46%;
}
.partfolio-item__title{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 15px;
}
.partfolio-item__platform{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}
.partfolio-item__text{
    font-size: 16px;
    line-height: 20px;
}
.partfolio__btn{
    margin: 0 auto;
    margin-top: 45px;
}
.contacts-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}
.contacts-text{
    width: 55%;
}
.contacts__questions{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #020E35
}
.contacts__title{
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
    color: #020E35;
}
.contacts-text__title--ping-color{
    color: #E73587;
}
.contact-form{
    width: 40%;
}
.contact-form__block{
    margin-bottom: 25px;
}
.contact-form__text{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2C3241;
}
.contact-form__input{
    width: calc(100% - 22px);
    height: 36px;
    padding: 0 10px;
}
.contact-form__input::placeholder{
    font-size: 16px;
    line-height: 36px;
}
.contact-form_message{
    width: calc(100% - 22px);
    height: 150px;
    padding: 10px;
}
.contact-form_message::placeholder{
    font-size: 16px;
}
.contact-form__btn{
    width: 100%;
    font-size: 18px;
    line-height: 13px;
    text-transform: none;
}
.footer{
    background-color: #020E35;
    color: #fff;
    padding: 7px 0;
}
.footer__copy{
    font-size: 14px;
}